/* ################################### Hide scrollbar for Chrome, Safari and Opera ###################################*/

/* body::-webkit-scrollbar {
  display: none;
} */

/* body {
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100vh;
  background-size: inherit;
  z-index: 0;
} */

/* ################################### NIGHT SKY ANIMATION ################################### */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: -10;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: -5;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: -3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

#sphere {
  position: fixed;
  top: 22%;
  left: 50%;
  /* border: 1px solid black; */
  height: 40%;
  width: 40%;
  transform: translate(-50%, 0);
  z-index: 1;
  /*  margin: auto; */
}

/* ################################### Hide scrollbar for IE, Edge and Firefox ################################### */

/* body {
  -ms-overflow-style: none; */
/* IE and Edge */
/* scrollbar-width: none; */
/* Firefox */
/* } */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  /* background-image: url("bkgrd.png"); */
}

/* .under {
  z-index: 99;
}
.over {
  z-index: 101;
} */
main {
  width: 100vw;
  z-index: 2;
  position: absolute;
  width: 100%;
}

.main {
  /* background-image: url("static files/bkgrd 1.png"),
    url("static files/bkgrd 2.png"), url("static files/bkgrd 3.png");
  background-size: 100%; */
  top: 0;

  transition: all 0.3s ease-in;
}

.container {
  width: 80vw;
  margin: auto;
  padding: 0 0;
  max-width: 100% !important;
  /* padding-left: 10vw;
    padding-right: 10vw; */
}

.bg-dark {
  /* background-color: #2e2e2e; */
  /* background-color: #333333; */
  background-color: transparent !important;
  transition: 1s ease;
}

.bg-dark.scrolled {
  background: #333333 !important;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
}

.leftnav,
.rightnav {
  /* border: 2px solid white; */
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
}

.midnav {
  /* border: 2px solid white; */
  padding: 20px 0px;
  flex-grow: 1;
  height: 100%;
}

.leftnav a,
.rightnav a {
  display: inline-block;
  /* border: 2px solid red; */
  text-align: center;
  padding: 20px 0px;
  font-size: 18px;
  text-decoration: none;
  font-style: Texta;
  font-weight: 500;
  color: white;
}

* {
  font-style: Texta;
  font-weight: 600;
  color: white;
  transition: all 0.1s ease;
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 101px;
  /* identical to box height */

  letter-spacing: 0.04em;
}

#title {
  font-size: 20vh;
  font-weight: 800;
}

#register {
  font-size: 3vh;
}
/* ################################### events head ######################################### */
.events-head-title {
  font-family: Texta;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
}
.events-head-body {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.events-head-list-title {
  font-family: Texta;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
}
.scrollbar {
  margin-left: 30px;
  float: left;
  height: 350px;
  width: 65px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}
#style-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

#style-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  box-shadow: inset 0 0 6px #ffffff;
  background-color: #ffffff;
  border-left: 3px solid rgb(0, 0, 0);
  border-right: 3px solid rgb(0, 0, 0);
}

#style-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 px #ffffff;
  box-shadow: inset 0 0 px #ffffff;
  background-color: #ffffff;
}

#internfair-event-div,
#internfair-event-line,
#lectureseries-event-div,
#lectureseries-event-line,
#pmx-event-div,
#pmx-event-line,
#workshops-event-div,
#workshops-event-line,
#disrupt-event-line {
  stroke: white;
}
#disrupt-event-div {
   fill:white;
}

/* 
.hoverlogocomponent{
  stroke:#00b0e0 !important;
}
.hoverlogocomponentscale{
  stroke:#00b0e0 !important;
  transform:scale(1.03);
} */
/* .component-event:hover{
  stroke:#00b0e0;
  color:#00b0e0;
  
} */

@media (max-width: 1450px) {
  .events-position-right {
    left: 710px !important;
  }
}

/* ################################### more events styling ######################################### */

#show-more-events a {
  text-decoration: none;
  color: #00b0e0;
}

#show-more-events a:hover {
  text-decoration: none;
  border: none;
}

.more-events-heading {
  display: flex;
  flex-direction: row-reverse;
}

.more-events-heading button {
  padding-top: 10px;
  background-color: transparent;
  border: none;
}

.more-events {
  display: none;
  margin-top: 40px;
}

/* ############################## speaker section styling ################################# */

.speaker-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speaker-info .speaker {
  position: relative;
  margin-bottom: 30px;
}

.sponsor-icon-modal {
  position: absolute;
  background-color: #ff2f67;
  color: #ffffff;
  top: 0.75em;
  right: 0.5em;
  height: 1.75em;
  width: 1.7em;
  border: 2px solid #ff5353;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1px 4px;
  transition: all 0.25s ease;
  color: #fc0144;
  font-size: 20px;
  text-align: center;
}

.speaker-icon,
.speaker-content,
.speaker-side-name {
  position: absolute;
}

.speaker:hover .speaker-icon {
  background-color: #ff2f67;
}

.speaker:hover .speaker-icon i {
  color: #ffffff;
}

.speaker .speaker-icon {
  top: 0.75em;
  right: 0.5em;
  height: 1.75em;
  width: 1.7em;
  border: 2px solid #ff5353;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1px 4px;
  transition: all 0.25s ease;
}

.speaker-icon i {
  color: #fc0144;
  font-size: 20px;
  text-align: center;
}

.speaker-side-name {
  width: 5em;
  top: -1em;
  left: -2em;
  transform: rotateZ(-90deg);
  font-size: 40px;
  opacity: 0;
  color: rgb(92, 91, 91);
  /* border: solid 3px green; */
  transition: all 0.6s ease;
}

.speaker:hover .speaker-side-name {
  opacity: 0.7;
  top: 1.7em;
}

.speaker-content {
  box-sizing: border-box !important;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.658);
  width: 100%;
  padding: 12px 10px;
  transition: all 0.25s ease;
}

.speaker:hover .speaker-content {
  transform: translateY(50%);
  opacity: 0;
}

.speaker-content .speaker-name {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.speaker-content .speaker-name::first-letter {
  color: #f00;
  font-size: 27px;
}

.speaker-content .speaker-company {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
}

.speaker-img {
  display: block;
  width: 100%;
}

/* ######################################### show more speakers styling ########################################################### */

#less-speakers {
  position: relative;
}

#show-more-speakers {
  position: absolute;
  text-align: center;
  bottom: 2em;
  /* padding: 137px 0; */
  padding-top: 137px;
  border: none;
  padding-bottom: 0px;
  /* width: 100%; */
  /* background-color: rgba(138, 138, 138, 0.829); */
  /* background: linear-gradient(to top, rgba(102, 99, 99, 0.452) 80%,rgb(182, 33, 33) 20%); */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 370px;
  background: transparent;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(80, 78, 78, 0.589) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  /* background: linear-gradient(to top, rgba(255,255,255,1) 20%,rgba(0,0,0,0) 100%); */
}

#more-speakers {
  display: none;
}

/* ########################################### Sponsors css ####################################### */

.sponsor {
  height: 70vh;
  margin-top: 4vh;
}

.sponsor-right {
  /* border: 2px solid red; */
  position: relative;
}

.sponsor a,
.more-events-heading a {
  text-decoration: none;
}

.sponsor a:hover,
.more-events-heading a:hover {
  border-bottom: 2px #f00 solid;
}

.sponsor-icon {
  border: 2px solid #00b0e0;
  color: #00b0e0;
  font-size: 16px;
  padding: 2px 5px;
}

.codingninjas {
  position: absolute;
  transform: rotate(-90deg);
  left: -2em;
  top: 3em;
}

/* 


.speaker__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;

}


.speaker__overlay--blur {
    backdrop-filter: blur(5px);
}

.speaker__overlay > * {
    transform: translateY(100px);
    transition: transform 0.25s;
}


.speaker__overlay:hover {
    opacity: 1;
}

.speaker__overlay:hover > * {
    transform: translateY(0);
} */

/* Blur modal effect 

body>div.speaker {
    
    top: 0;
    z-index: 2;
  }

body.modal-open> .main,.modal-backdrop.fade.show {
    z-index: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-color: #e8e8e8d9;
}

.modalblur {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 0px 2px rgba(255, 255, 255, 0.6);
}
*/

.blur {
  backdrop-filter: blur(2px);
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.1);
}

.modal-content {
  color: black;
  display: flex;
}

.modalspeaker__img {
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 5%;
  padding-bottom: 8.3%;
}

.modalicons {
  margin-top: 0%;
  padding-bottom: 30%;
}

.modalspeakername {
  color: black;
  font-size: 250%;
}

.modalspeakerpostion {
  color: black;
  /* font-size: 50%; */
  /* font-weight: 300px; */
  padding-bottom: 4%;
  margin-top: 0px;
  padding-top: 0px;
}

.modalspeakerdetails {
  color: black;
  font-size: 80%;
  font-weight: 300px;
}

/* -------------------------------------- faq css-------------------------------- */

.faquestion {
  /* border: 2px solid green; */
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  align-self: center;
  /* font-weight: 500; */
  cursor: pointer;
}

.faqdropdown {
  font-size: 3vh;
  font-weight: 400;
  /* font-style: Texta; */
  /* border: 2px solid white; */
}

/* -------------------------------------- timer css-------------------------------- */

#countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  font-style: Texta;
  padding-bottom: 8%;
}

sup {
  /* line-height: 1000%; */
  vertical-align: super;
  /* Specified in % so that the sup/sup is the
        right size relative to the surrounding text */
  font-size: 40%;
  /* Zero out the line-height so that it doesn't
        interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
        the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
        is already set and you can remove this rule */
  vertical-align: baseline;
  /* vertical-align: top; */
  top: -1em;
  padding-right: 1%;
}

/* -------------------------------------- arrows section css-------------------------------- */

.arrow_cont {
  /* display: inline-block; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  float: left;
  width: 30%;
  height: 320px;
  box-sizing: border-box;
}
.bottom_sphere_cont {
  /* display: inline-block; */
  float: left;
  width: 40%;
  height: 320px;
}
.arrow_img {
  width: 100%;
  padding: 20%;
}

.right_arrows {
  transform: rotate(180deg);
}

/* ############################################ footer css ########################################################## */

.contactus {
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
}

footer {
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  padding: 20px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-icons a {
  display: inline-block;
  margin-left: 10px;
}

.speaker {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* this is replaced now by dhruvesh
.speaker-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speaker-info .speaker{
    position: relative;
    margin-bottom: 30px;

}
#speaker-name{
    font-size: 5vh;

}

.speaker-icon, .speaker-content{
    position: absolute;
}

.speaker-icon{
    top: 0.75em;
    right: 0.5em;
    height: 1.5em;
    width: 1.5em;
    background-color: red;
}


.speaker-content{
    box-sizing: border-box !important;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.658);
    width: 100%;
    padding: 12px 10px;
}
.speaker-content .speaker-name{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.speaker-content .speaker-name::first-letter{
    color: #f00;
    font-size: 27px;
}

.speaker-content .speaker-company{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
} 

.speaker__img {
    display: block;
    width: 100%;
}
*/

/*
.speaker > *  {
    opacity: 1;
}

.speaker > * :hover {
    opacity: 0;
}

.speaker-content{
    opacity: 1;
}
.speaker-content:hover{
    opacity: 0;
}
*/
