/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.container{
    width: 80vw;
    margin: auto;
    padding: 0 0;
    max-width: 100% !important;
    /* padding-left: 10vw;
    padding-right: 10vw; */
 
}

.main {
    background-image: url("static files/bkgrd 1.png"),url("static files/bkgrd 2.png"),url("static files/bkgrd 3.png");
    background-size: 100% ;
}

.bg-dark {
    /* background-color: #2e2e2e; */
    /* background-color: #333333; */
    background-color: transparent !important;
    transition: 0.5s ease;
}

.bg-dark.scrolled {
    background: #333333 !important;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
}

.leftnav, .rightnav {
    /* border: 2px solid white; */
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}

.midnav {
    border: 2px solid white;
    padding: 20px 0px;
    flex-grow: 1;
    height: 100%;
}

.leftnav a, .rightnav a {
    display: inline-block;
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    text-decoration: none;
    font-style: Texta;
    font-weight: 500;
    color: white;
}

*{
    font-style: Texta;
    font-weight: 600;
    color: white;
}

.title{
    font-size: 50px;
    font-weight: 800;
    color: #01AC86;
}

#sponsor{
    border: 2px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 18vw !important;
}


#sponsor-other{
    
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 20vw !important;
}

#button{
    border: 1px solid #01AC86;
    padding: 2.5px 5px 2.5px 5px;
}


sup {
    /* line-height: 1000%; */
    vertical-align: super;
        /* Specified in % so that the sup/sup is the
        right size relative to the surrounding text */
    font-size: 40%;

    /* Zero out the line-height so that it doesn't
        interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
        the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
        is already set and you can remove this rule */
    vertical-align: baseline;
    /* vertical-align: top; */
    top: -1.0em;
    padding-right: 1%;
}

#footer_icons{
   
    padding-left: 45%;
    padding-right: 0.7%;
    display: flex;
    justify-content:flex-end;
    margin-right: 0%;
}

#footer_container{
    width: 100%;
    display: flex;
    align-items: center !important;
}

#footer_icons2{
    padding-left: 6%;
    padding-right: 0%;
}


#footer_content{
    font-style: Texta;
    /* border: 2px solid green; */
    align-self: start;
    display: flex;
    align-content: center;
}

.footer {
    /* border: 2px solid white; */
    height: 60px;
    /* background: rgba(51, 51, 51, 0.4); */
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    /* opacity: 0.8; */
}

.contactus {
    /* border: 2px solid white; */
    /* height: 60px; */
    /* background: rgba(51, 51, 51, 0.4); */
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    /* opacity: 0.8; */
}
